<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>assets_LoadingBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{861,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,20}}</string>
                <key>sourceSize</key>
                <string>{861,20}</string>
            </dict>
            <key>assets_LoadingBar_Di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{869,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{869,28}}</string>
                <key>sourceSize</key>
                <string>{869,28}</string>
            </dict>
            <key>assets_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{143,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,137}}</string>
                <key>sourceSize</key>
                <string>{143,137}</string>
            </dict>
            <key>assets_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{184,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,78}}</string>
                <key>sourceSize</key>
                <string>{184,78}</string>
            </dict>
            <key>assets_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{184,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,78}}</string>
                <key>sourceSize</key>
                <string>{184,78}</string>
            </dict>
            <key>assets_loading_txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{675,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{675,38}}</string>
                <key>sourceSize</key>
                <string>{675,38}</string>
            </dict>
            <key>assets_pop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{1273,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1273,664}}</string>
                <key>sourceSize</key>
                <string>{1273,664}</string>
            </dict>
            <key>assets_pop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{571,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,63}}</string>
                <key>sourceSize</key>
                <string>{571,63}</string>
            </dict>
            <key>assets_scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,114}}</string>
                <key>sourceSize</key>
                <string>{106,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets_texture.png</string>
            <key>size</key>
            <string>{1277,899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92a03fc8c50070afe77393bfa3cdcc40:6a89e65924b6b3c15a4ed061f37f27eb:7ed4d853afcdc09f9a62e853f6caccaa$</string>
            <key>textureFileName</key>
            <string>assets_texture.png</string>
        </dict>
    </dict>
</plist>
