<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>splash_quanmin_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>splash_texture.png</string>
            <key>size</key>
            <string>{260,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3457051c63fe66414e9bc2a62ab8e2e:2e523d987799a280249cc458ffc4e875:1765e684fa7559525a21e543563ee53b$</string>
            <key>textureFileName</key>
            <string>splash_texture.png</string>
        </dict>
    </dict>
</plist>
