<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>hall_main_bottom_introduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>hall_main_bottom_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{55,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>hall_main_bottom_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>hall_main_bottom_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{49,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,77}}</string>
                <key>sourceSize</key>
                <string>{49,77}</string>
            </dict>
            <key>hall_main_bottom_tuiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>hall_main_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{524,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,604}}</string>
                <key>sourceSize</key>
                <string>{524,604}</string>
            </dict>
            <key>hall_main_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,139},{784,596}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{784,596}}</string>
                <key>sourceSize</key>
                <string>{784,596}</string>
            </dict>
            <key>hall_main_private_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{229,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,135}}</string>
                <key>sourceSize</key>
                <string>{229,135}</string>
            </dict>
            <key>hall_main_private_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{228,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,135}}</string>
                <key>sourceSize</key>
                <string>{228,135}</string>
            </dict>
            <key>hall_main_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{84,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,91}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>hall_main_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{100,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,117}}</string>
                <key>sourceSize</key>
                <string>{100,117}</string>
            </dict>
            <key>hall_main_userinfo_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>hall_main_xiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{49,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{49,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_main_texture.png</string>
            <key>size</key>
            <string>{1338,1497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee2ef534afe93fae4dca7ea486ce84bc:5acc090a46d2148f53c5e97b4e9a16f7:656db67b4495fad4f395b6d9b68c4655$</string>
            <key>textureFileName</key>
            <string>hall_main_texture.png</string>
        </dict>
    </dict>
</plist>
