<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>downloadgame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,137}}</string>
                <key>sourceSize</key>
                <string>{143,137}</string>
            </dict>
            <key>downloadgame_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{402,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,31}}</string>
                <key>sourceSize</key>
                <string>{402,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>downloadgame_texture.png</string>
            <key>size</key>
            <string>{406,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b71a5e4d5082ab0cc59490ca2910db86:496c0796273f7d55243a8fc05b54cad2:5eae87c8cce4f823ddf24a9fb8631e6c$</string>
            <key>textureFileName</key>
            <string>downloadgame_texture.png</string>
        </dict>
    </dict>
</plist>
