<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cmtexture_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{184,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,78}}</string>
                <key>sourceSize</key>
                <string>{184,78}</string>
            </dict>
            <key>cmtexture_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>cmtexture_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{184,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,78}}</string>
                <key>sourceSize</key>
                <string>{184,78}</string>
            </dict>
            <key>cmtexture_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{184,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,78}}</string>
                <key>sourceSize</key>
                <string>{184,78}</string>
            </dict>
            <key>cmtexture_pop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{1273,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1273,664}}</string>
                <key>sourceSize</key>
                <string>{1273,664}</string>
            </dict>
            <key>cmtexture_pop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{571,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,63}}</string>
                <key>sourceSize</key>
                <string>{571,63}</string>
            </dict>
            <key>cmtexture_scale9_scale1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>cmtexture_scale9_scale2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{106,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,114}}</string>
                <key>sourceSize</key>
                <string>{106,114}</string>
            </dict>
            <key>cmtexture_scale9_scale3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cmtexture.png</string>
            <key>size</key>
            <string>{1277,849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:121a901ec41a135be9ad7132c50ab2b4:f3c320b467dd0e2a216c8698ebb071c8:e7be437badba650e727bbf93c098a1a5$</string>
            <key>textureFileName</key>
            <string>cmtexture.png</string>
        </dict>
    </dict>
</plist>
